.App {
  align-items: center;
  text-align: center;
  padding: 5%;
  background-color: rgb(255, 255, 255);
}

.navbar {
  flex-grow: 1;
  background-color: #78b8c2;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.formContainer {
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

.formFields {
  background-color: rgb(255, 255, 255);
  max-width: max-content;
  padding-top: 10px;
  margin: 0 auto;
}

.formInput {
  text-align: left;
  width: 300px;
}

.success {
  color: blue;
}

.error {
  color: red;
}

.btn {
  background-color: #ffffff;
  color: rgb(97, 97, 97);
  width: 200px;
  box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1), 0 0 0 1px #cecece,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  /* pointer-events: none; */
}

.introductionContainer {
  background-color: #ffffff;
  max-width: 1500px;
  padding-left: 20%;
  padding-right: 20%;
  margin: 0 auto;
}

.helpBubble {
  background-color: #ffffff;
  max-width: 300px;
  margin: 0 auto;
}

.speechBubble {
  position: fixed;
  padding: 20px;
  margin: 20px;
  margin-left: 200px;
  top: 300px;
  max-width: 300px;
  color: grey;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 2px 2px 4px #888;
  /* display: none; */
  opacity: 0;
  transition: all 0.2s ease-out;
}

.speechHover:hover + .speechBubble {
  opacity: 1;
}
